.ux4g-feedback {
    display: flex;
    flex-direction: column;
    row-gap: var(--ux4g-stack-m);
    border-radius: var(--ux4g-radius-lg);
    border: 1px solid var(--ux4g-border-color-neutral-default);
    background-color: var(--ux4g-bg-neutral-elevated);
    box-shadow: var(--ux4g-shadow-l2);
    padding: var(--ux4g-padding-xl) !important;
    min-width: 360px;
    max-width: 360px;
    height: fit-content;
}

.feedback-thumb-wrapper {
    display: flex;
    align-items: center;
    column-gap: var(--ux4g-inline-m) !important;
}

.feedback-thumb-wrapper .ux4g-btn-outline-primary {
    background-color: var(--ux4g-bg-neutral-elevated);
    color: var(--ux4g-text-neutral-secondary);
    border-color: var(--ux4g-border-color-neutral-default);
}

.feedback-thumb-up,
.feedback-thumb-down {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--ux4g-stack-xs) !important;
}


.ux4g-feedback-star {
    font-size: var(--ux4g-fs-28);
    cursor: pointer;
    color: var(--ux4g-text-neutral-emphasis) !important;
}

/* Default active color (for ratings 3, 4, 5) */
.ux4g-feedback-star.active {
    color: var(--ux4g-bg-yellow-strong) !important;
}

/* Error color for ratings 1 and 2 */
[data-rating="1"] .ux4g-feedback-star.active,
[data-rating="2"] .ux4g-feedback-star.active {
    color: var(--ux4g-bg-error-strong) !important;
}

.ux4g-feedback-chip-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: var(--ux4g-inline-s, 8px);
}

.ux4g-feedback-chip-wrapper .ux4g-filter-chip-md:hover {
    background-color: var(--ux4g-bg-primary-soft);
    color: var(--ux4g-text-primary-strong);
}

.feedback-nps-button {
    width: 32px;
    height: 36px;
    border-radius: var(--ux4g-radius-sm);
    border: 1px solid var(--ux4g-border-color-neutral-default);
    cursor: pointer;
}

/* NPS Dynamic Active Colors */
/* Default active / fallback */
.feedback-nps-button.active {
    border-color: transparent;
}

/* 0 to 3: Error (Red) */
[data-nps-rating="0"] .feedback-nps-button.active,
[data-nps-rating="1"] .feedback-nps-button.active,
[data-nps-rating="2"] .feedback-nps-button.active,
[data-nps-rating="3"] .feedback-nps-button.active {
    background-color: var(--ux4g-bg-error-soft);
    color: var(--ux4g-text-status-error);
}

/* 4 to 6: Warning (Orange) */
[data-nps-rating="4"] .feedback-nps-button.active,
[data-nps-rating="5"] .feedback-nps-button.active,
[data-nps-rating="6"] .feedback-nps-button.active {
    background-color: var(--ux4g-bg-warning-soft);
    color: var(--ux4g-text-status-warning);
}

/* 7 to 10: Success (Green) */
[data-nps-rating="7"] .feedback-nps-button.active,
[data-nps-rating="8"] .feedback-nps-button.active,
[data-nps-rating="9"] .feedback-nps-button.active,
[data-nps-rating="10"] .feedback-nps-button.active {
    background-color: var(--ux4g-bg-success-soft);
    color: var(--ux4g-text-status-success);
}


.ux4g-feedback-nps-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: var(--ux4g-inline-s, 8px);
    align-self: stretch;
    flex-wrap: wrap;
    max-width: 280px;
    margin-inline: auto;
}

.feedback-emoji-button {
    width: 52px;
    height: 52px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ux4g-bg-neutral-soft);
    border-radius: var(--ux4g-radius-sm);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.feedback-emoji-button .ux4g-icon-outlined {
    font-size: var(--ux4g-fs-32);
    color: var(--ux4g-text-neutral-tertiary);
}

/* Active state for each specific emoji using nth-child */
/* 1. mood_bad */
.feedback-emoji-button:nth-child(1).active {
    background-color: var(--ux4g-bg-error-soft);
}

.feedback-emoji-button:nth-child(1).active .ux4g-icon-outlined {
    color: var(--ux4g-icon-status-error, var(--ux4g-text-error-strong));
    font-size: var(--ux4g-fs-36);
}

/* 2. sentiment_dissatisfied */
.feedback-emoji-button:nth-child(2).active {
    background-color: var(--ux4g-bg-error);
}

.feedback-emoji-button:nth-child(2).active .ux4g-icon-outlined {
    color: var(--ux4g-icon-status-error, var(--ux4g-text-error-strong));
    font-size: var(--ux4g-fs-36);
}

/* 3. sentiment_neutral */
.feedback-emoji-button:nth-child(3).active {
    background-color: var(--ux4g-bg-warning-soft);
}

.feedback-emoji-button:nth-child(3).active .ux4g-icon-outlined {
    color: var(--ux4g-icon-status-warning, var(--ux4g-text-status-warning));
    font-size: var(--ux4g-fs-36);
}

/* 4. sentiment_satisfied */
.feedback-emoji-button:nth-child(4).active {
    background-color: var(--ux4g-bg-success, var(--ux4g-bg-success-subtle));
}

.feedback-emoji-button:nth-child(4).active .ux4g-icon-outlined {
    color: var(--ux4g-icon-status-success, var(--ux4g-text-status-success));
    font-size: var(--ux4g-fs-36);
}

/* 5. mood */
.feedback-emoji-button:nth-child(5).active {
    background-color: var(--ux4g-bg-success-soft);
}

.feedback-emoji-button:nth-child(5).active .ux4g-icon-outlined {
    color: var(--ux4g-icon-status-success, var(--ux4g-text-status-success));
    font-size: var(--ux4g-fs-36);
}

.ux4g-emoji-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: var(--ux4g-inline-l);
}

.ux4g-emoji-caption .ux4g-emoji-desc {
    color: var(--ux4g-text-neutral-tertiary);
    display: flex;
    align-items: center;
    column-gap: var(--ux4g-inline-xs);
}

.feedback-submitted-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--ux4g-bg-success-soft);
    padding-block: var(--ux4g-padding-s);
    padding-inline: var(--ux4g-padding-m);
    row-gap: 16px;
}

.feedback-submitted-close-btn {
    color: var(--ux4g-text-neutral-primary);
    border: 1px solid var(--ux4g-border-color-neutral-subtle);
    width: 100%;
    height: var(--ux4g-fs-32);
    border-radius: var(--ux4g-radius-md)
}