/* =========================================
   DISPLAY UTILITIES
   Author: UX4G
   Standard display properties including
   Grid, Flex, Table, and Print variants.
========================================= */

/* Base Display */
.ux4g-d-none { display: none;}
.ux4g-d-block { display: block;}
.ux4g-d-inline { display: inline;}
.ux4g-d-inline-block { display: inline-block;}
.ux4g-d-flex { display: flex;}
.ux4g-d-inline-flex { display: inline-flex;}



/* Table Display */
.ux4g-d-table { display: table;}
.ux4g-d-table-row { display: table-row;}
.ux4g-d-table-cell { display: table-cell;}
