/* Journey Timeline Component */
.journey-timeline-card {
    border-radius: var(--ux4g-radius-lg);
    border: var(--ux4g-border-thin) solid var(--ux4g-border-color-neutral-default);
    background: var(--ux4g-bg-neutral-elevated);
    padding: var(--ux4g-padding-l);
    gap: var(--ux4g-stack-xl);
    flex-direction: column;
    min-height: var(--ux4g-sz-80);
}


.journey-timeline-title .journey-timeline-description {
    color: var(--ux4g-text-neutral-secondary);
}


.ux4g-journey-header-icon {
    width: var(--ux4g-sz-24);
    height: var(--ux4g-sz-24);
    color: var(--ux4g-text-neutral-tertiary);
}

/* Timeline Base */
.ux4g-journey-timeline {
    position: var(--ux4g-pos-relative);
    display: flex;
    flex-direction: column;
}

/* Vertical Timeline */
.ux4g-journey-timeline--vertical {
    gap: var(--ux4g-space-1);
}

.ux4g-journey-step {
    position: var(--ux4g-pos-relative);
    display: flex;
    gap: var(--ux4g-inline-m);
    gap: var(--ux4g-stack-m);
    padding-bottom: var(--ux4g-padding-xl);
}

.ux4g-journey-step:last-child {
    padding-bottom: var(--ux4g-padding-none);
}

/* Indicator and Connector */
.ux4g-journey-indicator {
    width: var(--ux4g-sz-24);
    height: var(--ux4g-sz-24);
    border-radius: var(--ux4g-radius-full);
    background-color: var(--ux4g-bg-neutral-elevated);
    border: var(--ux4g-border-thick) solid var(--ux4g-border-color-neutral-default);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    z-index: 2;
    position: var(--ux4g-pos-relative);
    margin-top: var(--ux4g-sz-24);
    color: transparent;
    transition: all 0.3s ease;
}

.ux4g-journey-indicator::after {
    content: "";
    position: var(--ux4g-pos-absolute);
    width: var(--ux4g-sz-10);
    height: var(--ux4g-sz-10);
    border-radius: var(--ux4g-radius-full);
    background-color: var(--ux4g-text-neutral-disabled);

}
.ux4g-journey-step-completed .ux4g-journey-indicator::after {
    display: none;

}

/* .ux4g-journey-indicator svg {
    width: 12px;
    height: 12px;
    stroke: currentColor;
} */
 .ux4g-journey-indicator .ux4g-icon-outlined{
color: currentColor;
 }
 .ux4g-journey-indicator .ux4g-icon-outlined{
display: none;
 }
 .ux4g-journey-step-completed .ux4g-journey-indicator .ux4g-icon-outlined{
display:  block !important;
 }

.ux4g-journey-timeline--vertical .ux4g-journey-step:not(:last-child)::after {
    content: "";
    position: var(--ux4g-pos-absolute);
    left: var(--ux4g-sz-11);
    top: calc(var(--ux4g-sz-24) + var(--ux4g-sz-24));
    bottom: calc(var(--ux4g-sz-24) * -1);
    width: 4px;
    background-color: var(--ux4g-border-color-neutral-default);
    z-index: 1;
}

/* Card Styles */
.ux4g-journey-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: var(--ux4g-padding-l);
    background-color: var(--ux4g-bg-neutral-elevated);
    border: var(--ux4g-border-thin) solid var(--ux4g-border-color-neutral-subtle);
    border-radius: var(--ux4g-radius-lg);
    transition: all 0.3s ease;
}


.ux4g-journey-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--ux4g-stack-s);
}

/* VARIATION: Standard (3-column) */
.ux4g-journey-card--standard .ux4g-journey-info {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.ux4g-journey-card--standard .ux4g-journey-info> :nth-child(2) {
    grid-column: 2;
    justify-self: center;
    text-align: var(--ux4g-ta-center);
    align-items: center;
    margin: var(--ux4g-margin-none);
}

.ux4g-journey-card--standard .ux4g-journey-info> :nth-child(2):last-child {
    grid-column: 3;
    justify-self: start;
    text-align: var(--ux4g-ta-start);
    align-items: flex-start;
}

.ux4g-journey-card--standard .ux4g-tag,
.ux4g-journey-card--standard [class*="ux4g-tag-"] {
    grid-column: 3;
    justify-self: end;
}

/* VARIATION: Condensed (2-row) */
.ux4g-journey-card--condensed {
    padding: var(--ux4g-padding-s) var(--ux4g-padding-m);
}

.ux4g-journey-card--condensed .ux4g-journey-header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.ux4g-journey-card--condensed .ux4g-journey-title {
    margin: var(--ux4g-margin-none);
}

/* Common Typography */
.ux4g-journey-date {
    color: var(--ux4g-text-neutral-tertiary);
    font-size: var(--ux4g-fs-14);
    line-height: var(--ux4g-lh-20);
    font-weight: var(--ux4g-font-weight-semibold);
}

.ux4g-journey-title {

    color: var(--ux4g-text-neutral-primary);
    font-size: var(--ux4g-fs-16);
    line-height: var(--ux4g-lh-20);
    font-weight: var(--ux4g-font-weight-bold);
}

.ux4g-journey-description {
    font-size: var(--ux4g-fs-14);
    color: var(--ux4g-text-neutral-tertiary);
    line-height: var(--ux4g-lh-20);
    font-weight: var(--ux4g-font-weight-regular);
}

/* States */
/* Pending / Disabled State (Default) */
.ux4g-journey-step:not(.ux4g-journey-step-completed):not(.ux4g-journey-step-active) {
    pointer-events: none;
}
/* .ux4g-journey-step:not(.ux4g-journey-step-completed):not(.ux4g-journey-step-active) .ux4g-journey-title {
    color: var(--ux4g-text-neutral-tertiary);
} */

.ux4g-journey-step-completed .ux4g-journey-indicator {
    background-color: var(--ux4g-bg-primary-strong);
    border-color: var(--ux4g-border-color-primary-strong);
    color: var(--ux4g-color-neutral-0);
}

.ux4g-journey-step-completed:not(:last-child)::after {
    background-color: var(--ux4g-bg-primary-strong) !important;
}

/* Active State */
.ux4g-journey-step-active .ux4g-journey-indicator {
    background-color: var(--ux4g-bg-neutral-elevated);
    border-color: var(--ux4g-border-color-primary-strong);
    color: var(--ux4g-text-brand-primary-default);
    position: var(--ux4g-pos-relative);
}

.ux4g-journey-step-active .ux4g-journey-indicator::before {
    content: "";
    position: var(--ux4g-pos-absolute);
    width: var(--ux4g-sz-10);
    height: var(--ux4g-sz-10);
    border-radius: var(--ux4g-radius-full);
    background-color: var(--ux4g-bg-primary-strong);
}

.ux4g-journey-step-active .ux4g-journey-card {
    border: var(--ux4g-border-width-sm) solid var(--ux4g-border-color-primary-default);
    background: var(--ux4g-bg-primary-soft);
}

/* Horizontal Timeline */
.ux4g-journey-timeline--horizontal {
    flex-direction: row;
    gap: var(--ux4g-spacing-none);
    align-items: center;
    padding: var(--ux4g-padding-none) var(--ux4g-padding-l);
}

.ux4g-journey-timeline--horizontal .ux4g-journey-step {
    flex: 1;
    flex-direction: column;
    padding-bottom: var(--ux4g-padding-none);
    gap: var(--ux4g-inline-s);
    align-items: flex-start;
}

.ux4g-journey-timeline--horizontal .ux4g-journey-step:last-child {
    flex: 0 0 auto;
}

.ux4g-journey-timeline--horizontal .ux4g-journey-indicator {
    margin-top: var(--ux4g-margin-none);
}

.ux4g-journey-timeline--horizontal .ux4g-journey-step:not(:last-child)::after {
    content: "";
    position: var(--ux4g-pos-absolute);
    left: calc(var(--ux4g-sz-24) + var(--ux4g-space-4));
    top: var(--ux4g-sz-10);
    width: calc(100% - var(--ux4g-sz-24) - (var(--ux4g-space-4) * 2));
    height: 4px;
    background-color: var(--ux4g-border-color-neutral-default);
    z-index: 1;
}

/* Status Group */
.ux4g-journey-status-group {
    display: flex;
    align-items: center;
    gap: var(--ux4g-inline-s);
    margin-top: var(--ux4g-margin-xs);
}

.ux4g-journey-status {
    display: flex;
    padding: var(--ux4g-padding-2xs) var(--ux4g-padding-xs);
    align-items: center;
    gap: var(--ux4g-stack-xs);
    border-radius: var(--ux4g-radius-sm);
    border: var(--ux4g-border-width-sm) solid var(--ux4g-border-color-neutral-subtle);
    background: var(--ux4g-bg-neutral-elevated);
}

.ux4g-journey-status-dot {
    width: var(--ux4g-sz-8);
    height: var(--ux4g-sz-8);
    border-radius: var(--ux4g-radius-full);
    margin-right: var(--ux4g-margin-xs);
    background-color: var(--ux4g-bg-neutral-default);
}

.ux4g-journey-status-dot--warning {
    background-color: var(--ux4g-bg-secondary-strong);
}


/* Responsive */
@media (max-width: 768px) {
    .ux4g-journey-card {
        padding: var(--ux4g-padding-m);
    }
    .ux4g-journey-card--standard .ux4g-journey-info {
        grid-template-columns: 1fr auto;
        row-gap: var(--ux4g-space-6);
        column-gap: var(--ux4g-space-4);
    }

    .ux4g-journey-card--standard .ux4g-journey-date {
        grid-column: 1;
        grid-row: 1;
    }

    .ux4g-journey-card--standard .ux4g-tag,
    .ux4g-journey-card--standard [class*="ux4g-tag-"] {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }

    .ux4g-journey-card--standard .ux4g-journey-info> :nth-child(2),
    .ux4g-journey-card--standard .ux4g-journey-info> :nth-child(2):last-child {
        grid-column: 1 / -1;
        grid-row: 2;
        justify-self: start;
        text-align: var(--ux4g-ta-start);
        align-items: flex-start;
    }
}