/* ================================
   LINK - SMALL
================================ */
.ux4g-text-link-sm,
.ux4g-text-link-neutral-sm {
  font-size: var(--ux4g-fs-14);
  line-height: var(--ux4g-lh-20);
  font-weight: var(--ux4g-font-weight-medium);
}

/* ================================
   LINK - MEDIUM
================================ */
.ux4g-text-link-md,
.ux4g-text-link-neutral-md {
  font-size: var(--ux4g-fs-16);
  line-height: var(--ux4g-lh-24);
  font-weight: var(--ux4g-font-weight-medium);
}


/* ================================
   COLOR
================================ */
.ux4g-text-link-sm,
.ux4g-text-link-md {
 --ux4g-text-current: var(--ux4g-text-link-default-default);
}

.ux4g-text-link-neutral-sm,
.ux4g-text-link-neutral-md {
  --ux4g-text-current: var(--ux4g-text-link-neutral-default);
}

/* ================================
   INTERACTION
================================ */
.ux4g-text-link-sm,
.ux4g-text-link-md,
.ux4g-text-link-neutral-sm,
.ux4g-text-link-neutral-md {
  text-decoration: none;
}

.ux4g-text-link-sm:hover,
.ux4g-text-link-md:hover,
.ux4g-text-link-neutral-sm:hover,
.ux4g-text-link-neutral-md:hover {
  text-decoration: underline;
}