.ux4g-social-link {
    width: var(--ux4g-sz-20);
    height: var(--ux4g-sz-20);
    cursor: pointer;
}


.ux4g-social-link-light li,
.ux4g-social-link-dark li,
.ux4g-social-link-default li {
    list-style: none;
}